* {
  padding: 0;
  margin: 0;
  font-family: "Volkhov", serif;
  box-sizing: border-box;
}
body {
  background-image: url(assets/images/blob.webp);
  background-repeat: no-repeat;
  background-position: right top;
}
:root {
  --Black: #000000;
  --Jelly_Bean: #df6951;
  --Space_Cadet: #181e4b;
  --Orange: #f1a501;
  --Dark_Electric_Blue: #5e6282;
  --Halloween_Orange: #f15a2b;
  --Blue_Sapphire: #006380;
  --Medium_Slate_Blue: #747def;
}
nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  padding-top: 48.7px;
  padding-left: 140.92px;
}
nav ul li {
  padding-top: 56px;
  padding-right: 140.92px;
  list-style: none;
}
nav ul li a {
  padding-right: 40px;
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 17px;
  color: var(--Space_Cadet);
}
.sign_up {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
}

nav ul li select {
  padding-left: 30px;
  border: none;
  background: none;
}

.container {
  display: flex;
  padding: 105px 20px 40px 100px;
}

.about {
  padding-top: 100px;
}

.tagline {
  font-family: "Poppins", serif;
  font-size: 20px;
  color: var(--Jelly_Bean);
}
.heading {
  font-size: 84px;
  color: var(--Space_Cadet);
}
.enjoy {
  background-image: url(assets/images/Decore.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.desc {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--Dark_Electric_Blue);
}
.cta {
  display: flex;
  align-items: center;
}
.cta button {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 60px;
  background-color: var(--Orange);
  border: none;
  border-radius: 10px;
}

.cta img {
  padding-top: 25px;
}
.cta a {
  font-family: "Poppins", serif;
  font-size: 17px;
  text-decoration: none;
  color: var(--Black);
}

#services {
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 30px;
}
.services {
  background-image: url(assets/images/Group\ 4.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.category p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  font-size: 18px;
  color: var(--Dark_Electric_Blue);
}
.category h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--Space_Cadet);
}

.elements {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 50px;
}
.element {
  width: 260px;
  height: 310px;
  text-align: center;
}
.element .dish {
  background-image: url(assets/icons/Rectangle\ 159@2x.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50px;
}

.element .plane {
  background-image: url(assets/icons/Rectangle\ 159@2x.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 50px;
}
.element .mic {
  background-image: url(assets/icons/Rectangle\ 159@2x.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50px;
}
.element .power {
  background-image: url(assets/icons/Rectangle\ 159@2x.png);
  background-repeat: no-repeat;
  background-position: 150px;
  background-size: 50px;
}

.title_dish {
  padding-top: 50px;
}
.title_dish h3 {
  font-family: "Poppins", serif;
  font-size: 20px;
  color: var(--Space_Cadet);
}
.title_dish p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--Dark_Electric_Blue);
}

.title_plane {
  padding-top: 15px;
}
.title_plane h3 {
  font-family: "Poppins", serif;
  font-size: 20px;
  color: var(--Space_Cadet);
}
.title_plane p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--Dark_Electric_Blue);
}
.title_mic {
  padding-top: 40px;
}
.title_mic h3 {
  font-family: "Poppins", serif;
  font-size: 20px;
  color: var(--Space_Cadet);
}
.title_mic p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--Dark_Electric_Blue);
}
.title_power {
  padding-top: 60px;
}
.title_power h3 {
  font-family: "Poppins", serif;
  font-size: 20px;
  color: var(--Space_Cadet);
}
.title_power p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--Dark_Electric_Blue);
}

.element_plane {
  width: 260px;
  height: 310px;
  text-align: center;
  background-color: white;
  box-shadow: 4px 4px 20px #00000038;
  border-radius: 36px;
}
